header {
    background-image: url("../img/header.jpg"); height: 700px;
    background-size: cover;
}
.top {
    text-align: center;
    color: white;
    padding-top: 50px;
}
.mouseClick{
  cursor: pointer;
  margin-left: 50%;
  padding-top: 140px;
}
#mouse{
    animation: bounce 2s infinite;
}
.logo {
    text-align: center;
    padding-top: 200px;
}
.container {
    text-align: center;
    margin-top: 40px;
}
.about {
    text-align: center;
    padding-top: 30px;
  }
  .service {
    text-align: center;
    padding-top: 90px;
    color: white;
  }
  .services {
    background-image: url("../img/s_image.jpg"); height: 300px;
    margin-top: 50px;
    background-size: cover;
  }











































